.game-wrapper {
  background: #191919;
  position: relative;
}

.game-pallete{
  position: relative;
  width: max-content;
  margin: auto;
  padding: 40px;
}

.footer {
  padding: 20px;
  width: calc(100% - 40px);
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .game-pallete {
    padding: 0;
  }

  .footer {
    padding: 0;
    padding-bottom: 20px;
    width: 100%
  }
}