.square {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.square.active {
  display: block;
}

.square.hide {
  display: none;
}

@media only screen and (max-width: 440px) {
  .square {
    width: 80px;
    height: 80px;
  }
}