body {
  background: #000;
  color: #fff;
}

button {
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-weight: 600;
}

button.primary {
  background: rgb(44, 137, 243);
  color: white;
}

button.default {
  background: rgb(238, 236, 236);
}

.flex-wrapper{
  display: inline-flex;
}

.flex-wrapper *:not(:last-child) {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.score-board {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.score-board *:not(:last-child) {
  margin-right: 20px;
}

.page-link {
  margin-top: 20px;
}

.page-link a{
  color: white;
  text-decoration: none;
}
